.menu{
  
    background-color: #606060; }
    .menu ul{
    margin: 0; padding: 0;
    float: left;
    margin-left: 100px;
    }
 
.menu ul li{
    display: inline;}
 
.menu ul li a{
    float: left; text-decoration: none;
    color: white;
    font-size:15px;
    padding: 10.5px 11px;
    background-color: #606060;
     }
 
.menu ul li a:visited{
    color: white;}
 
.menu ul li a:hover, .menu ul li .current{
    color: #fff;
    background-color:#FF6600;}